:root {
  --main-bg: hsl(218, 28%, 13%);
  --minor-bg: hsl(217, 28%, 15%);
  --testimonials-bg: hsl(219, 30%, 18%);
  --footer-bg: hsl(216, 53%, 9%);

  --blue: hsl(198, 60%, 50%);
  --cyan: hsl(176, 68%, 64%);
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}
