* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--open-sans), sans-serif;
  background-color: var(--main-bg);
  color: var(--white);
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
h1,
h2,
h4 {
  font-family: var(--raleway);
}
